body{
  overflow: hidden;
}


.paddle{
  background-color: black;
  width: 10vw;
  height: 25px;
  position: absolute;
}

#top{
  top: 10px;
  left: 45%;
  transition: 0.01s;
}

#bottom{
  bottom: 10px;
  left: 45%;
  transition: 0.01s;
}

#ball{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}